
/***************
  HTML Styles
***************/
html {
    &.login-bg {
        height: 100%;
        overflow-y: scroll;
        background-image: url('../images/esomo-bg-01.jpg');
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-color: color("grey", "darken-4");
        
        @media #{$medium-and-down} {
            background-size: auto 100%;
            
        }
        
        
    }
    
    body {
        background-color: transparent;
    }
    
}
body {
  background-color: #fcfcfc;
}
.no-margin {
	margin: 0 !Important;
}
.no-bottom-margin {
	margin-bottom: 0 !Important;
}
span.tiny-info {
    padding-left: 6px;
    padding-bottom: 2px;
    padding-right: 6px;
    margin: 0;
    margin-left: 8px;
    padding-top: 2px;
    background-color: color("grey", "darken-3");
    border-radius: 2px;
    font-weight: 600;
    color: color("grey", "lighten-4");
    
}
p.box {
  padding: 20px;
}
p {
  color: rgba(0, 0, 0, 0.71);
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
}

td.schedule-action {
    opacity: 0;
}

tr {
    
    td.schedule-action {
        opacity: 0;

        @media #{$medium-and-down} {
            opacity: 1;
        }

    }
    
    &:hover {

        .schedule-action {
            opacity: 1;
        }

    }

}

h5 > span {
  font-size: 14px;
  margin-left: 15px;
  color: #777;
}

.border-thin {
    
    border: 1px solid rgba(0,0,0,0.54);
    
}

.name, .card-title {
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.37);
    text-transform: capitalize;//Always capitalize this class
}

a.btn-icon {
    padding: 14px;
    padding-left: 16px;
    padding-right: 16px;
    color: rgba(0, 0, 0, 0.78);
    font-size: 1.3rem;
    line-height: 1.3rem;
    transition: all .3s;
    border-radius: 50%;
    background-color: transparent;
    
    .material-icons {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }

    &:active {
        background-color: #f5f5f5;
    }
}
nav {
  // background-color: color("materialize-red", "lighten-2");

  a {
    -webkit-font-smoothing: antialiased;
  }
  ul li a:hover, ul li.active {
    background-color: color("brookhurst-theme-primary", "base");
  }
}
form {
    a.mini-link {
        font-size: 12px;
        //line-height: inherit;
        opacity: .78;
    }
}

.header {
  color: color("brookhurst-theme-primary", "lighten-1");
  font-weight: 300;
}

.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.preview {
  background-color: #FFF;
  border: 1px solid #eee;
  padding: 20px 20px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

body.side-nav-page {
    header, main, footer, .search-bar, .picker__holder {
      padding-left: 300px;
    }
}

.parallax-demo header,
.parallax-demo main,
.parallax-demo footer {
  padding-left: 0;
}
footer.example {
  padding-left: 0;
}

@media #{$medium-and-down} {
    body.side-nav-page {
        header, main, footer, .search-bar, .picker__holder {
            padding-left: 0;
        }
    }
  h5 > span {
    display: block;
    margin: 0 0 15px 0;
  }

}
/********************
  Index Page Styles
********************/
.no-data-message {
    min-height: 160px;
    border-radius: 1px;
    
    
    &.error {
        border: 2px solid color("red", "lighten-2");
    }
    
    &.success {
        border: 2px solid color("green", "lighten-2");
    }
    
    h1, h2, h3, h4, h5, h6 {
        width: 100%;
        line-height: 1.12;
        
        padding-bottom: 1em;
        padding-top: 1em;
    }
}
/**********************
**********************/

/********************
  Index Page Styles
********************/

// custom styled sidebar
ul.side-nav.fixed li.logo {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 80px;

  &:hover,
  #logo-container:hover {
    background-color: transparent;
  }
}
ul.side-nav.fixed {
  overflow: hidden;
  background-color: color("shades", "black");
  
    .divider {
        background-color: #fff;
        opacity: 0.28;
    }
    
  li {
    line-height: 44px;
      
    &.active {
      background-color: $primary-color;
    }

    a {
      font-size: 13px;
      line-height: 44px;
      height: 44px;
      padding: 0 30px;
      color: color("shades", "white");
        
        span.badge {
            line-height: 38px;
            height: 38px;
            margin-bottom: 3px;
            margin-top: 3px;
        }
    }
  }

  ul.collapsible-accordion {
    background-color: color("shades", "black");
 
    a.collapsible-header {
      padding: 0 30px;
    color: color("shades", "white");
    }

    .collapsible-body li {
      font-weight: 400;
      padding: 0 37.5px 0 45px;
      background-color: color("shades", "black");
      color: lighten(color("shades", "white"), 15%);
        
        &.active {
            background-color: lighten(color("shades", "black"), 17%);
            color: lighten($secondary-color, 8%);
        }
    }
  }

  // Only show scrollbar on hover
  &:hover {
    overflow-y: auto;
  }
}

.bold > a {
  font-weight: bold;
}

#logo-container {
  height: 57px;
  margin-bottom: 32px;
}

nav.top-nav {
  height: 64px;
  line-height: 64px;
  background-color: lighten(color("shades", "black"), 13%);
  
    i.material-icons {
        height: 64px;
        line-height: 64px;
    }
    a {
        line-height: 64px;
        
        &.page-title {
          font-size: 22px;
          font-weight: 300;
          text-transform: uppercase;
        }
    }
    @media #{$medium-and-down} {
        height: auto;
    }
}
a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 36px;
  z-index: 2;

  &.full {
    line-height: 122px;
  }

  i {
    font-size: 32px;
  }
}

@media #{$small-and-down} {
  a.button-collapse.top-nav {
    left: 5%;
  }
}

@media #{$medium-and-down} {
  nav .nav-wrapper {
    text-align: center;

      i {
          height: 64px;
          line-height: 64px;
          
      }
    a.page-title {
        font-size: 21px;
        font-weight: 350;
        text-transform: uppercase;
    }
  }
}

.my-container {
    width: 54%;
    margin: 0 auto;
    max-width: 1280px;
    
    @media #{$small-and-down} {
        width: 90%;
        margin: 0 auto;
    }
}

@media #{$large-and-up} {
  .container {
    width: 90%;
  }
  
}

#responsive-img {
  width: 80%;
  display:block;
  margin: 0 auto;
}

.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;

}

/**********************
**********************/

/*****************
  Chrome Browser
*****************/

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

$bottomColor: #1a1a1a;
$topColor: lighten($bottomColor, 2%);

$border: $bottomColor;

$width: 100%;
$height: auto;

.browser-window {
  text-align: left;
  width: $width;
  height: $height;
  display: inline-block;
  border-radius: 5px 5px 2px 2px;
  background-color: #fff;
  margin: 20px 0px;
  overflow: hidden;

    .top-bar {
    height: 30px;
    border-radius: 5px 5px 0 0;
    border-top: thin solid lighten($topColor, 1%);
    border-bottom: thin solid darken($bottomColor, 1%);
    background: linear-gradient($topColor, $bottomColor);
  }
}

.browser-window .circle {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: lighten($topColor, 10%);
  margin-right: 1px;
}
#close-circle {
  background-color: #FF5C5A;
}
#minimize-circle {
  background-color: #FFBB50;
}
#maximize-circle {
  background-color: #1BC656;
}
.browser-window .circles { margin: 5px 12px; }
.browser-window .content {
  margin: 0;
  width: 100%;
  // min-height: 100%;
  display: inline-block;
  border-radius: 0 0 5px 5px;
  background-color: #fafafa;
}
.browser-window .row {
  margin: 0;
}

.clear { clear: both; }

/**********************
**********************/


.center {
  text-align: center;
  vertical-align: middle;
}

// Mobile page styling

.mobile-image {
 @media #{$small-and-down} {
  max-width: 100%;
 }
}
.php-data {
    opacity: 0.78;
}

.new-class {
    opacity: 0;
    @include transform(translateY(-8px) scale(0.95));
    
    will-change: opacity;
    transition: opacity .7s;
    animation-delay: .4s;
    -webkit-animation: new-classroom 460ms cubic-bezier(0.225, 0.6, 0.36, 1) 244ms forwards;
    animation: new-classroom 460ms cubic-bezier(0.225, 0.6, 0.36, 1) 244ms forwards;
    
}

@-webkit-keyframes new-classroom {
  to { 
      @include transform(translateY(0px) scale(1));
      
      opacity: 1;
    }
}

@keyframes new-classroom {
  to { 
      @include transform(translateY(0px)  scale(1));
      opacity: 1;
    }
}

// Card Page styling
.card-panel span, .card-content p{
  -webkit-font-smoothing: antialiased;
    &.students-taken {
        font-size: 12px;
        line-height: 1.5;
    }
    i.material-icons {
        font-size: 12px;
        line-height: 1.5;
    }
}
.assignment-warning, .assignment-info {
    
    p, a {
        
        i.material-icons {
            line-height: 20px;
            font-size: 16px;
        }
        
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        line-height: 20px;
        margin: 0;
    }
    
    
    
}
a.btn-skip-question {
    color: color("red", "lighten-1");
}
#images .card-panel .row {
  margin-bottom: 0;
}
.card-col {
    width: 310px;
    
    @media #{$small-and-down} {
        width: 100%;
        max-width: 100%;
    }
}
.card .card-content {
    ul.collapsible {
        box-shadow: none;
        margin-left: -21px;
        margin-right: -21px;
        
        li {
            .collapsible-header {
                padding-left: 20px; 
                padding-right: 20px; 
            }
            
            .collapsible-body {
                
                
                p {
                    @extend .php-data;
                    font-size: 14px;
                    line-height: 18px;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top: 24px;
                    padding-bottom: 24px;
                }
                
            }
        } 
    }
}

//MORPHING STYLES
.to-edit {
    transition-delay: 400ms;
    transition-timing-function: cubic-bezier(0.225, 0.6, 0.36, 1);
    transition-duration: 240ms;

}

.to-remove {
    opacity: 0.27;
    @include transform(scaleX(0) scaleY(0) !Important);
    will-change: transform !Important;
    transition-delay: 400ms !Important;
    transition-timing-function: cubic-bezier(0.225, 0.6, 0.36, 1) !Important;
    transition-duration: 240ms !Important;
    
}

.morph-in {
    
    height: inherit;
    opacity: 0;
    z-index: 8888;
    @include transform(scaleX(0.55) scaleY(0.45));
    will-change: transform opacity z-index;
    
    animation-delay: .3s;
    -webkit-animation: morph-in 330ms 210ms ease-out forwards;
    animation: morph-in 330ms 210ms ease-out forwards;
    
}

@-webkit-keyframes morph-in {
  to { 
      @include transform(scaleX(1));
      z-index: inherit;
      opacity: 1;
    }
}

@keyframes morph-in {
  to { 
      width: inherit;
      @include transform(scaleX(1) scaleY(1));
      z-index: inherit;
      opacity: 1;
    }
}

.assignment-doc {
    
    border-radius: 8px;
    border: 1px rgba(80,80,80,0.08) solid;
    //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    //box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    padding: 8px;
}

.modal #dragDropArea {
    margin: -24px;
    margin-bottom: 20px;
    padding: 24px;
    background-color: $primary-color;
    position: relative;
}

.op-4 {
    color: $datepicker-year;
}

#uploadResource form#createResourcesForm .file-field .btn, #uploadResource form#createResourcesForm .file-field .btn-large {
    float: right !Important;
}

#uploadResource form#createResourcesForm input.upload-btn.btn-floating {
    position: absolute;
    right: 24px;
    bottom: -27.5px;
}

.resource-view {
    height: auto;
    background-color: rgba(185, 145, 145, 0.24);
    word-wrap: break-word;
}

.resource-view > i.material-icons {
    width: 100%;
    line-height: 50px;
    text-align: center;
}
